/*
 * This is a manifest file that'll be compiled into application.css, which will
 * include all the files listed below.
 * 
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins, if any,
 * can be referenced here using a relative path.
 * 
 * You're free to add application-wide styles to this file and they'll appear
 * at the top of the compiled file, but it's generally better to create a new
 * file per style scope.
 * 
 *= require_self
 *= require_tree .
 */

.app{
  background: #484848;
  display: inline-block;
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-bottom: 0px !important;
}

.content{
  background: #fff;
}

.actions{
  margin-top: 10px;
}

form.btn > div >  input {
  background: transparent;
  border: none;
}

nav{
  margin-top: 30px;
  display: inline-block;
  width: 100%;
}

nav a{
  display: inline-block;
  color: #515e68 !important;
  text-decoration: none;
  margin-bottom: 3px !important;
}

.content{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 0px !important;
}

.dashboard{
  background: #484848;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
}


